<<<<<<< HEAD
{{!< default}}

{{#post}}

  <article class="{{post_class}}">
    <header>
      <h1 id="post-title">About me</h1>
    </header>

    <section class="{{post_class}}">
      {{content}}
    </section>

  </article>

{{/post}}
=======
{{!< default}}

{{#post}}

  <article class="{{post_class}}">
    <header>
      <h1 id="post-title">About me</h1>
    </header>

    <section class="{{post_class}}">
      {{content}}
    </section>

  </article>

{{/post}}
>>>>>>> 4927e3710fb57e1f176383c701f884cc9f573b04
